* {
    --header-side-margin: 3rem;
    --section-padding: 1rem;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto';
}

#container {
    height: 100vh;
    display: grid;
    grid-template: 20% repeat(3, 1fr) / 15% repeat(4, 1fr); /* 4 rows, 5 columns */
}

/* Sidebar */
#sidebar {
    background: #8a2be2;
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
}

#sidebar #icon-and-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#sidebar #section-1 {
    margin-top: 1rem;
}

#sidebar #section-1 #dashboard-icon {
    width: 3rem;
    aspect-ratio: 1/1; 
    justify-self: center;
}

#sidebar #section-1 p {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    justify-self: start;
    margin: 0;
}

#sidebar #icon {
    width: 1.25rem;
    aspect-ratio: 1/1;
    justify-self: center;
}

#sidebar a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

#section-2, #section-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* Header */
#header {
    background: white;
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#top-row {
    display: grid;
    grid-row: 1 / span 1;
    grid-template-columns: 6fr 4fr;
}

#top-row #left-side {
    grid-column: 1 / span 1;
    margin-left: var(--header-side-margin);
    margin-right: var(--header-side-margin);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#top-row #left-side #search-form {
    width: 100%;
}

#top-row #left-side #search-form input {
    background: url(images/magnify.svg) no-repeat left 0.25rem center;
    background-color: #e2e8f0;
    padding: 0;
    padding-left: 2.25rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    width: 80%;
    font-size: 1.25rem;
}

#top-row #right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--header-side-margin);
    gap: 2rem;
}

#top-row #right-side p {
    font-size: 1.25rem;
    font-weight: bold;
}

#top-row #right-side #profile-avatar {
    width: 3rem;
    aspect-ratio: 1/1;
}

#top-row #right-side #bell {
    width: 2rem;
    aspect-ratio: 1/1;
}

#bottom-row {
    display: grid;
    grid-row: 2 / span 1;
    grid-template-columns: 6fr 4fr;
}

#bottom-row #left-side {
    margin-left: var(--header-side-margin);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#bottom-row #welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0.25rem;
}

#bottom-row #welcome-text #greeting {
    font-size: 1rem;
}

#bottom-row #welcome-text #name {
    font-size: 1.5rem;
    font-weight: bold;
}

#bottom-row #profile-avatar {
    width: 4rem;
    aspect-ratio: 1/1;
}

#bottom-row #right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-right: var(--header-side-margin);
}

#bottom-row #button {
    width: 6rem;
    height: 2rem;
    background: #8a2be2;
    border: none;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 0.5rem;
    color: white;
}

#main-content {
    background: #e2e8f0;
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
    display: grid;
    grid-template: 3rem 1fr / 3fr 1fr;
}

#section-title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    font-size: 1.25rem;
}

#projects-section {
    grid-column: 1 / span 1;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem;
}

#projects-section #section {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    border-left: 0.5rem solid #8a2be2;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

#projects-section #section #text, #right-side #section #text {
    margin: var(--section-padding);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#projects-section #section #project-title, #main-content #right-side #section #project-title  {
    font-weight: bold;
    font-size: 1.1rem;
}

#projects-section #section #project-description, #main-content #right-side #section #project-description {
    font-size: 0.8rem;
}

#projects-section #section #icons {
    margin: var(--section-padding);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#projects-section #section #icon {
    width: 2rem;
    aspect-ratio: 1/1;
}

#right-side-title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    font-size: 1.25rem;
}

#main-content #right-side {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main-content #right-side #section {
    margin: var(--section-padding);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    height: fit-content;
}

#main-content #right-side #section #title {
    font-weight: bold;
    font-size: 0.9rem;
}

#main-content #right-side #section #description {
    font-size: 0.7rem;
}

#main-content #right-side #section hr {
    margin-left: var(--section-padding);
    margin-bottom: var(--section-padding);
    margin-top: 0;
    margin-bottom: 0;
    width: 91%;
    color: black;
}

#main-content #right-side #site-maintenance-container {
    width: 100%;
}

#main-content #right-side #right-side-title-2 {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.25rem;
}

#main-content #right-side #section-2 {
    margin: var(--section-padding);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    width: 92%;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#main-content #right-side #section-2 #person {
    display: grid;
    grid-template: 1fr 1fr / 2fr 8fr;
    column-gap: 1rem;
    margin-left: 1rem;
    align-items: center;
}

#main-content #right-side #section-2 #person #icon {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    height: 2.5rem;
    aspect-ratio: 1/1;
}

#main-content #right-side #section-2 #person #username {
    font-size: 0.8rem;
}

#main-content #right-side #section-2 #person #description {
    font-size: 0.8rem;
    color: rgb(90, 90, 90);
}

/* Enlarge on hover */
#projects-section #section #icon:hover, #bottom-row #button:hover, #icon-and-link:hover, #bottom-row #left-side #profile-avatar:hover, #top-row #right-side #bell:hover, #top-row #right-side #profile-avatar:hover, #top-row #right-side p:hover {
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

/* Enlarge these elements a little bit less */
#main-content #right-side #section-2 #person:hover {
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}

/* Enlarge these elements even less */
#main-content #right-side #section #title:hover, #projects-section #section #project-title:hover {
    transition: 0.2s;
    transform: scale(1.02);
    cursor: pointer;
    text-decoration: underline;
}